@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
    margin: 0px;
}

body {
    background-color: #fdf4f4;
    font-family: 'Roboto', sans-serif;
    color: #4c4b4b;
    cursor: default;
  
    
    
}

br {
    line-height: 1pt;
}

strong {
    font-style: italic;
    color: #0d0f11;
    font-weight: 550;
}

h1 {
    color: #0d0f11;
    font-size: 2em;
    letter-spacing: 1pt;
    font-style: italic;
    
    
}

h2 {
    color: #110207;
    font-size: 1.2em;
    letter-spacing: 1pt;
   
  
    
    
}

header.titolo{
    color: #291601;
    font-size: 2.9em;
    letter-spacing: 1pt;
    padding-top:40px;
    padding-bottom: 40px;
    text-align: center;
    width: 100%;
}
p.secondo {
    font-size: 0.9em;
}

div.centrale {
    text-align: center;
}

div.divisore {
    background-color: #f5b4b4;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.linea {
    background-color: #dd9898;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.tooltip {
    cursor: pointer;
    position: relative;
    display: inline;
}



span.tooltiptext {
    visibility: hidden;
    position: absolute;
    top: 0px;
    width: 150px;
    left: 105%; 
    color: #fff; 
    background-color: #f8cece;
    text-align: center;
    padding: 5px;
    font-size: 9pt;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


/* HEADER */
header {
    width: 100%;
    height: 50px;
    z-index: 997;
    background-color: #f5d3d3;
    
}



/* CORPO PAGINA */
#corpo {
    width: 85%;
    margin: auto;
    position: relative;
    
    
}




/* CARTOLINE */
div.cartolina {
    position: relative;
}

/* TITOLO CARTOLINA */
div.titolo {
    text-align: center;
    margin-bottom: 10px;
}

/* IMMAGINE CARTOLINA */
div.immagini {
    text-align: center;
    padding-bottom: 15px;
}

.immagini, span {
    margin-right: 10px;
}

span.fronte img, span.retro img {
    height: 300px;
    
}





#barra1 {
    
    z-index: 999;
    cursor: pointer;
    width: 28px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    top: 5px;
    right: 7px;
    transform: rotate(-45deg) translate(-9px, 6px); 
       
}

#barra2 {
    position: absolute;
    top: 23px;
    right: 7px;
    z-index: 999;
    cursor: pointer;
    width: 28px;
    height: 4px;
    background-color: #fff;
    transform: rotate(45deg) translate(-6px, -4px);
    
}


/* NOTE CARTOLINA */
div.note {
    background-color: #fff;
    padding: 20px;
    margin-top: 10px;
    
    box-shadow: 0 0 3px #cbc9c9;
    line-height: 1.5em;
    
}

/* DESCRIZIONE IMMAGINE */
div.descrizioneImmagini {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    height: 380px;
    margin: 5px;
    box-shadow: 0 0 3px #cbc9c9;
    overflow: scroll;
    line-height: 1.5em;
}

/* TESTO CARTOLINA */
div.codiceIdno {
    position: absolute;
    right: 30px;
    top: 15px;
    font-family: 'Roboto', sans-serif;
    color: #1e0022;
}

div.corpoTesto {
   
    width: 300px;
    background-color: #fff;
    padding: 20px;
    position: relative;
    height: 380px;
    line-height: 1.5em;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 3px #cbc9c9;
    overflow: scroll;
}

span.expan {
    text-decoration: underline 1px dotted;
    margin-right: 0px;
    
}

span.abbr {
    text-decoration: underline 1px dotted;
    margin-right: 0px;
    
}

span.choice {
    margin-right: 0px;
}

p.estendi, p.abbrevia {
    font-size: 0.8em;
    color: #804571;
    position: absolute;
    top: 36px;
    margin-bottom: 2px;
}
p.estendi u, p.abbrevia u {
    text-decoration: underline 1px dotted;
    
}

i.clickAbbr, i.clickExpan {
    text-decoration: underline 1px solid;
    color: #804571;
    cursor: pointer;
}

div.text {
    margin-top: 12px;
}

div.spedizione {
    text-align: left;
}




div.informazioni {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    height: 380px;
    margin: 5px;
    box-shadow: 0 0 3px #cbc9c9;
    overflow: scroll;
    font-size: 0.95em;
}

div.informazioi br {
    line-height: 10px;
}

/* BLOCCO FACSIMILE */
div.bloccoFacsimile {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

a.pulsante {  
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: none;
    background-color: #e79d9d;
    color: rgb(8, 7, 7);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
    margin-top:20px;
    margin-left:20px;
}

a.pulsante:hover {
    background-color: #a9a9a9;
    transition: 0.3s;
}

div.facsimile {
    padding: 20px;
    width: 90%;
    height: 400px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 3px #cbc9c9;
}
/* PIE' DI PAGINA*/


#footer2 {
    margin-top: 10px;
    line-height: 2em;
}





#footer3 {
    text-align: right;

}

/* PAGINE CARTOLINE */



#immagineFacs {
    margin-top: 10px;
    position: absolute;
    right: 30px;
    width: 700px;
    height: auto;
}

#immagineFacs img{
    
    width: 700px;
    border-right: 1px solid #cbc9c9;
}

#quadrato {
    width: 450px;
    background-color: #fff;
    box-shadow: 0 0 3px #cbc9c9;
    margin-top: 30px;
    margin-left: 30px;
    padding: 20px;
    position: relative;
    
}

#testoCartolinaTypo {
    background-color: #fff;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 3px #cbc9c9;
}

#testoStampato {
    font-size: 0.8em;
}


.facs {
    text-decoration: none;
    margin-right: 0px;
}

#testoCartolina {
    position: relative;
    width: 400px;
}
.ruota {
    position: absolute;
    top: 90px;
    transform:rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg); 
}

.noRuota {
    position: absolute;
    top: 90px;
}

table.cartolina {
    border: 1px solid #dddada;
}

table.cartolina td {
    width: 200px;
    height: 200px;
    border: 1px solid #dddada;
    padding-left: 5px;
}

#timbriCartolina {
    padding: 5px;
    margin-top: 10px;
}



div.idnoFacs {
    text-align: left;
    float:left;
    margin-top:-100px;
    
}

#pulsanteRuota {
    margin-top: 5px;
    width: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    font-style: italic;
    border: none;
    background-color: #e79d9d;
    color: #fff;
    padding: 5px 10px 5px 10px;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
}

#pulsanteRuota:hover {
    background-color: #a9a9a9;
    transition: 0.4s;
}

table {
    margin: auto;}

